apiVersion: k8s.cni.cncf.io/v1alpha1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: policy
  labels:
    machineconfiguration.openshift.io/role: worker
spec:
  priority: 99
  desiredState:
    interfaces: 
    - name: enp2s0f0
      totalVfs: 10
      numVfs: 4
      state: up
